extends ./includes/tmpl.pug

block main
	.container
		.row
			.col-12
				.breadcrumbs
					img(src!='/img/icons/home.svg')
					p > О нас
	section.container.page_top
		.row
			.col-12
				.top-title(style='background-image:url("/img/backgrounds/top-background_3.jpg")')
					h1 И7
					.text-big
						| В наш портфель продукции мирового класса входят Norgren, Buschjost, FAS, Herion и Maxseal. 
						| Доказав свою ценность на протяжении многих лет, они стали одними из самых надежных 
						| имен в области управления жидкостями и движением..

	section.container
		.row
			.col-12.page_middle
				.sidebar
					.side-menu
						.menu-wrapper
							ul
								li.menu-item
									a(href='about_us').title.js-menu-click О нас
								li.menu-item
									a(href='about_news').title.js-menu-click Новости
								li.menu-item
									a(href='responsible_business').title.js-menu-click Ответственный бизнес
								li.menu-item
									a(href='history').title.js-menu-click История
								li.menu-item
									a(href='agency').title.js-menu-click Представительства
								li.menu-item
									a(href='contacts').title.js-menu-click Контакты																																													
				
				.right-content
					.js-menu-pages(data-page='about_us' data-title='И7')
						.article
							hr
							h4 О НАС
							p Мы крупнейший в мире поставщик компонентов и адаптированных решений в области управляющих компонентов для ключевых секторов промышленности. Везде, где точность, скорость и надежность имеют первостепенное значение, мы предлагаем исключительные решения, повышающие производительность и эффективность производственных систем.
							hr
							h4 ПАРТНЕРСКИЕ ВЗАИМООТНОШЕНИЯ
							p Мы обладаем международной командой из более чем 5 300 сотрудников, в число которых входит более 400 высококвалифицированных инженеров с опытом работы в ключевых секторах промышленности. Мы берем на работу и развиваем лучшие таланты в отрасли, предлагая лучше обучение и работу с уникальными продуктами и технологиями. Это дает нам опыт и знания, чтобы понимать, какие именно потребности существуют у заказчиков, и полностью удовлетворять их. Именно поэтому наша поддержка является более эффективной, наши решения более целенаправленными, а партнерство с заказчиками более продуктивным.
							hr
							h4 ВЫСОКОПРОИЗВОДИТЕЛЬНЫЕ ПРОДУКТЫ
							p Мы обладаем международной командой из более чем 5 300 сотрудников, в число которых входит более 400 высококвалифицированных инженеров с опытом работы в ключевых секторах промышленности. Мы берем на работу и развиваем лучшие таланты в отрасли, предлагая лучше обучение и работу с уникальными продуктами и технологиями. Это дает нам опыт и знания, чтобы понимать, какие именно потребности существуют у заказчиков, и полностью удовлетворять их. Именно поэтому наша поддержка является более эффективной, наши решения более целенаправленными, а партнерство с заказчиками более продуктивным.


							hr
							h4 НАДЕЖНОСТЬ
							p Мы обладаем международной командой из более чем 5 300 сотрудников, в число которых входит более 400 высококвалифицированных инженеров с опытом работы в ключевых секторах промышленности. Мы берем на работу и развиваем лучшие таланты в отрасли, предлагая лучше обучение и работу с уникальными продуктами и технологиями. Это дает нам опыт и знания, чтобы понимать, какие именно потребности существуют у заказчиков, и полностью удовлетворять их. Именно поэтому наша поддержка является более эффективной, наши решения более целенаправленными, а партнерство с заказчиками более продуктивным.

					.js-menu-pages(data-page='about_news' data-title='Новости')
						.about-news
							mixin aboutNewsCard(img, title)
								.col-xl-6
									a(href!='/news-inside.html').about-news_card
										.about-news_trumb
											img(src!= img)
										.about-news_descr
											.about-news_title= title
											.about-news_exept
												p Наша торговая марка охватывает лидирующий на рынке ассортимент технологических и мультимедийных. 
											.about-news_date 01/01/2021
							.paged(data-page="1")
								.row
									+aboutNewsCard('/img/news/about-news_trumb.jpg', 'Название новости')
									+aboutNewsCard('/img/news/about-news_trumb.jpg', 'Название новости')
									+aboutNewsCard('/img/news/about-news_trumb.jpg', 'Название новости')
									+aboutNewsCard('/img/news/about-news_trumb.jpg', 'Название новости')
							.paged(data-page="2").is-hidden
								.row
									+aboutNewsCard('/img/news/about-news_trumb.jpg', 'Название новости')
									+aboutNewsCard('/img/news/about-news_trumb.jpg', 'Название новости')
									+aboutNewsCard('/img/news/about-news_trumb.jpg', 'Название новости')
									+aboutNewsCard('/img/news/about-news_trumb.jpg', 'Название новости')
							.paged(data-page="3").is-hidden
								.row
									+aboutNewsCard('/img/news/about-news_trumb.jpg', 'Название новости')
									+aboutNewsCard('/img/news/about-news_trumb.jpg', 'Название новости')
									+aboutNewsCard('/img/news/about-news_trumb.jpg', 'Название новости')
									+aboutNewsCard('/img/news/about-news_trumb.jpg', 'Название новости')

							.col-12.text-center
								button.btn_white.js-show-more(data-paged=1 data-container='.about-news') Показать еще

					.js-menu-pages(data-page='responsible_business' data-title='Отвественный бизнес')
						.article
							hr
							h4 Права человека и соблюдение закона
							p Мы уважаем права человека и соблюдаем законы, ценности, стандарты и социальные нормы, принятые в любой стране.
							hr
							h4 Этичное поведение
							p Наш стандарт не ограничивается исключительно соблюдением законов и других обязательных правил. Мы ожидаем от наших работников достойного этичного поведения в деловой сфере и иных связанных ситуациях. Наши руководители выполняют свои обязанности на образцовом уровне.
							hr
							h4 Дискриминация
							p Мы нетерпимы к любым проявлениям дискриминации по признаку пола, возраста, национальности, наличия инвалидности, религии, социального происхождения. Мы выступаем за равные возможности.
							hr
							h4 Честная деловая практика
							p Мы достигаем наших позиций на рынке благодаря превосходному качеству наших продуктов и услуг, а также нашей производительности. Мы не применяем какие-либо нечестные коммерческие способы для получения преимуществ в ущерб нашим конкурентам или другим участникам рынка.
							hr
							h4 Коррупция
							p Мы осуждаем любую коррупцию. Запреты относятся к операциям между компаниями, а также к отношениям с политиками и государственными служащими.
							hr
							h4 Справедливая оплата труда и рабочее время
							p Оплата труда, социальные отчисления, а также рабочее время соответствуют минимальным применимым стандартам.

							hr
							h4 Безопасность продукта и качество продукции
							p Мы понимаем, что безопасность и надежность наших продуктов являются основой нашего успеха. Наш стандарт- предлагать нашим клиентам безупречную продукцию высокого качества. Поэтому управление качеством является неотъемлемой частью всех наших операций. Мы соблюдаем требования закона в отношении качества и безопасности и стремимся их превзойти.
							hr
							h4 Защита окружающей среды
							p Мы разрабатываем наши продукты, услуги и процессы таким образом, чтобы они были экологически безопасными и энергоэффективными. Мы соблюдаем экологические требования во всех сферах деятельности и ответственно используем природные ресурсы.																																									

					.js-menu-pages(data-page='history' data-title='История')
						.article
							hr
							h4 2007
							p Мы уважаем права человека и соблюдаем законы, ценности, стандарты и социальные нормы, принятые в любой стране.
							hr
							h4 2008
							p Наш стандарт не ограничивается исключительно соблюдением законов и других обязательных правил. Мы ожидаем от наших работников достойного этичного поведения в деловой сфере и иных связанных ситуациях. Наши руководители выполняют свои обязанности на образцовом уровне.

							hr
							h4 2012
							p Мы нетерпимы к любым проявлениям дискриминации по признаку пола, возраста, национальности, наличия инвалидности, религии, социального происхождения. Мы выступаем за равные возможности.

							hr
							h4 2015
							p Мы достигаем наших позиций на рынке благодаря превосходному качеству наших продуктов и услуг, а также нашей производительности. Мы не применяем какие-либо нечестные коммерческие способы для получения преимуществ в ущерб нашим конкурентам или другим участникам рынка.
							hr
							h4 2017
							p Мы осуждаем любую коррупцию. Запреты относятся к операциям между компаниями, а также к отношениям с политиками и государственными служащими.
							hr
							h4 2018
							p Оплата труда, социальные отчисления, а также рабочее время соответствуют минимальным применимым стандартам.
							hr
							h4 2019
							p Мы понимаем, что безопасность и надежность наших продуктов являются основой нашего успеха. Наш стандарт- предлагать нашим клиентам безупречную продукцию высокого качества. Поэтому управление качеством является неотъемлемой частью всех наших операций. Мы соблюдаем требования закона в отношении качества и безопасности и стремимся их превзойти.
							hr
							h4 2021
							p Мы разрабатываем наши продукты, услуги и процессы таким образом, чтобы они были экологически безопасными и энергоэффективными. Мы соблюдаем экологические требования во всех сферах деятельности и ответственно используем природные ресурсы. 																														

					.js-menu-pages(data-page='agency' data-title='Представительства')
						.agency
							hr
							h4 СИБИРСКИЙ ФЕДЕРАЛЬНЫЙ ОКРУГ
							p ООО "Сибирская техническая компания"
							p 656067, г.Барнаул, ул.Взлетная д.61
							p тел.: + 7 (3852) 223-702 (многоканальный)
							p моб.: +7 (929) 399-86-07
							p моб.: +7 (923) 160-00-57
							p e-mail: stk2@sibtexcom.ru



					.js-menu-pages(data-page='contacts' data-title='Контакты')
						.row.contacts
							.col-lg-4
								a(href!='#').contacts_small-cards.gray-card
									h6.title Позвоните нам
									p
										b Телефон:
										|  +7(495)&nbsp;123&nbsp;12&nbsp;23
									p
										b Время работы:
										|  пн&nbsp;&#8209;&nbsp;пт
									p
										b Часы работы:
										|  09:00&nbsp;&#8209;&nbsp;18:00
									img(src!='/img/icons/call_us.svg').icon

							.col-lg-4
								a(href!='#').contacts_small-cards.gray-card
									h6.title Напишите нам
									p
										b Почта:
										|  example@email.ru
									p Наши эксперты ответят вам, как только обработают ваше сообщение.
									img(src!='/img/icons/write_us.svg').icon

							.col-lg-4
								a(href!='#').contacts_small-cards.gray-card
									h6.title Онлайн чат
									p Нажмите на кнопку онлайн чата и задайте вопрос нашим экспертам прямо сейчас.

									img(src!='/img/icons/chat.svg').icon

							.col-12
								.contacts_big-cards.gray-card
									h4.title Офис
									p
										b Адрес:
										|  г.&nbsp;Москва, 2&#8209;я&nbsp;ул.&nbsp;Машиностроения, д.&nbsp;17А, офис&nbsp;312 
										br
										|656067, г.&nbsp;Барнаул, ул.&nbsp;Взлетная д.&nbsp;61
									p
										b Часы работы офиса:
										|  Понедельник&nbsp;–&nbsp;пятница
									p
										b Время работы офиса:
										|  09:00 - 18:00 (МСК)
									a(href!="#").link Посмотреть на карте
							.col-12
								.contacts_big-cards.gray-card
									h4.title Склад
									p
										b Адрес:
										|  г.&nbsp;Москва, 2&#8209;я&nbsp;ул.&nbsp;Машиностроения, д.&nbsp;17А, помещение&nbsp;310
									p
										b Часы работы офиса:
										|  Понедельник – пятница
									p 
										b Время работы офиса:
										|  10:00 - 16:00 (МСК)
									a(href!="#").link Посмотреть на карте





					