extends ./includes/tmpl.pug

block main
	.container
		.row
			.col-12
				.breadcrumbs
					img(src!='/img/icons/home.svg')
					p > О нас > Новости > Название новости
	section.container
		.row
			.col-12.news-inside.page-bottom
				.title Название новости
				.date 01/01/2021
				.trumb
					img(src!='/img/news/news-inside_trumb.jpg')
				.content
					p Мы крупнейший в мире поставщик компонентов и адаптированных решений в области управляющих компонентов для ключевых секторов промышленности. Везде, где точность, скорость и надежность имеют первостепенное значение, мы предлагаем исключительные решения, повышающие производительность и эффективность производственных систем.