.drop-down.container
	.row
		.col-12.d-flex.justify-content-between
			.drop-down_menu
				.drop-down_list
					ul
						li 
							a(href='#') Приводы пневматические
						li 
							a(href='#') Распределители пневматические
						li 
							a(href='#') Подготовка сжатого воздуха
						li 
							a(href='#') Арматурные клапаны
						li 
							a(href='#') Балансировочные и регулирующие клапаны
						li 
							a(href='#') Пропорциональные клапаны
						li 
							a(href='#') Компактные клапаны
				.drop-down_list
					ul
						li 
							a(href='#') Реле давления
						li 
							a(href='#') Вакуумная техника
						li 
							a(href='#') Терморегулирование
						li 
							a(href='#') Системы поддержания давления и расширительные баки
						li 
							a(href='#') Клапаны системы безопасности для прессов
						li 
							a(href='#') Приводы электрические
						li 
							a(href='#') Анимированные водные стены
			.drop-down_descr
				h4 <?php echo $page; ?>
				p Наша продукция идеально подходит для поиска прорывных инженерных решений и играет активную роль в важных отраслях промышленности, которые вносят свой вклад в качество и успех повседневной жизни.