extends ./includes/tmpl.pug

block inits
	|
	| <?php
	| /*
	| Template Name: Шаблон документов
	| */
	| ?>
	|

block main
	section.container.page-documents
		.row
			.col-12.news-inside.page-bottom
				.title
					| <?php the_title() ?>

				.content
					| <?php the_content() ?>