- var brandNorgren = ['/img/icons/manufacturers/norgren_icon.svg', '/img/icons/manufacturers/norgren_title.svg', '#BE1D25'];
- var brandBuschjost = ['/img/icons/manufacturers/buschjost_icon.svg', '/img/icons/manufacturers/buschjost_title.svg', '#BE1D25'];
- var brandHerion = ['/img/icons/manufacturers/herion_icon.svg', '/img/icons/manufacturers/herion_title.svg', '#BE1D25'];
- var brandMaxseal = ['/img/icons/manufacturers/maxseal_icon.svg', '/img/icons/manufacturers/maxseal_title.svg', '#BE1D25'];
- var brandTompson = ['/img/icons/manufacturers/tompson_icon.svg', '/img/icons/manufacturers/tompson_title.svg', '#BE1D25'];
- var brandImf = ['/img/icons/manufacturers/imf_icon.svg', '/img/icons/manufacturers/imf_title.svg', '#BE1D25'];
- var brandFas = ['/img/icons/manufacturers/fas_icon.svg', '/img/icons/manufacturers/fas_title.svg', '#BE1D25'];
- var brandKip = ['/img/icons/manufacturers/kip_icon.svg', '/img/icons/manufacturers/kip_title.svg', '#BE1D25'];
- var brandKloehn = ['/img/icons/manufacturers/kloehn_icon.svg', '/img/icons/manufacturers/kloehn_title.svg', '#BE1D25'];
- var brandPneumatex = ['/img/icons/manufacturers/pneumatex_icon.svg', '/img/icons/manufacturers/pneumatex_title.svg', '#F36A10'];
- var brandTa = ['/img/icons/manufacturers/ta_icon.svg', '/img/icons/manufacturers/ta_title.svg', '#F36A10'];
- var brandHeimeier = ['/img/icons/manufacturers/heimeier_icon.svg', '/img/icons/manufacturers/heimeier_title.svg', '#F36A10'];
- var brandAircom = ['/img/icons/manufacturers/aircom_icon.svg', '/img/icons/manufacturers/aircom_title.svg', '#233D91'];
- var brandAquasermo = ['/img/icons/manufacturers/aquasermo_icon.svg', '/img/icons/manufacturers/aquasermo_title.svg', '#233D91'];
- var brandLinak = ['/img/icons/manufacturers/linak_icon.svg', '/img/icons/manufacturers/linak_title.svg', '#233D91'];