$xs: 0;
$sm: 575px;
$md: 767px;
$lg: 991px;
$xl: 1199px;
$xxl: 1359px;

$col-1: 8.33%;
$col-2: 16.66%;
$col-3: 25%;
$col-4: 33.33%;
$col-5: 41.66%;
$col-6: 50%;
$col-7: 58.33%;
$col-8: 66.66%;
$col-9: 75%;
$col-10: 83.33%;
$col-11: 91.66%;
$col-12: 100%;

// colors

$red: #be1d25;
$l-black: #303030;

$pink: #bf0031;
$yellow: #f36a10;

$blue: #233d91;
$l-blue: #e0e9ec;
$ll-blue: #fafafa;


$gray: #707070;
$l-gray: #a8a8a8;
$ll-gray: #ececec;
$lll-gray: #F5F5F5;

$back-hover-menu: #DADADA;
